h2{
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}

html, body{
  height: 100%;
  overflow: hidden;
}

*{
  margin: 0;
  border: 0;
  padding: 0;
  list-style-type:none;
}

code {
  font-family: Consolas,"courier new";
  color: grey;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.side-menu-button {
  background: transparent;
  margin-top: 10px;
  position: relative;
  border: none;
}

.side-menu-button:hover .buttonInfo {
  display: block;
}

.buttonInfo {
  color: white;
  display: none;
  position:absolute;
  padding: 2px;
  border: solid 1.5px #3c3c3c;
  z-index: 2;
  background: black;
  border-radius: 5px;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#menuContainer{
  width: 60px;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #333333;
  text-align: center;
}

#layoutContainer{
  width: -webkit-calc(100% - 60px);
  width:    -moz-calc(100% - 60px);
  width:         calc(100% - 60px);
  height: 100%;
  position:absolute;
  top: 0;
  left: 60px;
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}

#webotsView{
  width: 100%;
  height: 100%;
}
